*{
	margin:0;
	padding:0;
}
.clear:after{
	content: "";
	clear: both;
	display: block;
}
.top{
	width: 100%;
	height: 202px;
	margin:0 auto;
	display: block;
	background: #f1f1f2;
}
.top1{
	width: 1210px;
	height: 158px;
	margin:0 auto;
	display: block;
	/*float: left;*/
	position: relative;
	background: url(../img/18.png) no-repeat;
	/*margin-left: 150px;*/
	top:48px;
}
.top1_1{
	width: 196px;
	height: 50px;
	float: left;
	background: url(../img/1.png) 0 0;
	
}
.top1_2{
	width: 665px;
	height: 40px;
	float: left;
	font-size: 18px;
	font-family: "Microsoft Yahei";
	margin-left: 337px;
	margin-top: 27px;

}
.top1_2 ul{

	float: left;
}
.top1_2 li{
	float: left;
	list-style: none;
	margin-bottom: 5px;
	border-bottom: 3px #6f6b6c solid;
	text-align: center;
	padding-bottom:10px;
}
.top1_2 a{
	color:#231815;
	text-decoration: none;
	margin-left: 18px;
	margin-right: 18px;
}
.top1_2 :hover{
	border-color:#c80713;
}
#wwww{
	border-bottom: 3px #c80713 solid;
}
.top1_31{
	width: 108px;
	height: 3px;
	float: left;
	background: #c80713;
	margin-left: 15px;
	margin-top: 13px;
}
.top1_3{
	width: 108px;
	height: 3px;
	float: left;
	background: #6f6968;
    margin-top: 13px;
}
.top1_2 li:hover a{
     text-decoration:underline;
     color: #c80713;
}
.top1_3:hover{
	background: #c80713;
}
.top1_2 :hover .top1_3{
     background: #c80713;
}
.top1_4{
	width: 100%;
	height:60px;
	background: #737476;
	margin:0 auto;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: relative;
	top:-15px;
	z-index: 1;
}
.top1_41{
	position: absolute;
	z-index: 10;
	margin-top: 82px;
	margin-left: -527px;
	font-size: 12px;
	color: white;
	line-height:30px;
}
.top1_41:hover a{
	text-decoration: underline;
}
.top1_41 a{
	color: white;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	text-decoration: none;
}
.top2{
     width: 1200px;
     height: 1186px;
     margin:0 auto;
   /*  border: 1px red solid;*/
}
.top2_1{
	width: 1158px;
	height: 225px;
	float: left;
	/*border: 1px red solid;*/
	margin-left: 44px;
	margin-top: 31px;
}
.top2_11{
	width: 366px;
	height: 225px;
	float: left;
	background: url(../img/48.jpg);
}
.top2_12{
	width: 790px;
	height: 225px;
	float: left;
	background: #f9f9f9;
}
.top2_121{
	width: 255px;
	height: 22px;
	float: left;
	margin-left: 465px;
	margin-top: 22px;
	color: #464646;
	font-family: "Microsoft Yahei";
	font-size: 12px;
}
.top2_1212{
	width: 4px;
	height: 22px;
	float: left;
	background: #c3060d;
	margin-top: -26px;
	margin-left: 608px;
}
.top2_1213{
	width: 91px;
	height: 26px;
	float: left;
	color: #484649;
	font-family: "Microsoft Yahei";
	font-size: 20px;
	margin-left: 622px;
	margin-top: -28px;
}
.top2_1214{
	width: 790px;
	height: 17px;
	float: left;
	/*border: 1px red solid;*/
	margin-top: 6px;
}
.top2_1214 i{
	width: 16px;
	height: 16px;
	float: left;
	background: url(../img/20.png) -80px -80px;
	margin-left: 55px;
}
.top2_1215{
	width: 646px;
	height: 80px;
	float: left;
	font-family: "Microsoft Yahei";
	font-size: 12px;
	color: #9a9a9a;
	margin-left: 72px;
	line-height: 22px;
}
.top2_1216{
	width: 790px;
	height: 17px;
	float: left;
	/*border: 1px red solid;*/
	margin-top: 6px;

}
.top2_1216 i{
	width: 16px;
	height: 16px;
	float: left;
	background: url(../img/20.png) -80px -105px;
	margin-left: 714px;
	margin-top: -18px;
}
.top2_2{
	width: 1158px;
	height: 225px;
	float: left;
	/*border: 1px red solid;*/
	margin-left: 44px;
	margin-top: 71px;
}
.top2_21{
	width: 790px;
	height: 225px;
	float: left;
	/*background: #f9f9f9;*/
}
.top2_211{
	width: 285px;
	height: 22px;
	float: left;
	/*margin-left: 465px;*/
	/*margin-top: 22px;*/
	color: #464646;
	font-family: "Microsoft Yahei";
	font-size: 12px;
}
.top2_2111{
	width: 4px;
	height: 22px;
	float: left;
	background: #c3060d;
	margin-left: 20px;
}
.top2_2112{
	width: 91px;
	height: 26px;
	float: left;
	color: #484649;
	font-family: "Microsoft Yahei";
	font-size: 20px;
	margin-left: 12px;
	margin-top: -2px;
}
.top2_2113{
	float: left;
	margin-top:7px;
}
.top2_2114{
	width: 790px;
	height: 17px;
	float: left;
	/*border: 1px red solid;*/
	margin-top: 6px;
}
.top2_2114 i{
	width: 16px;
	height: 16px;
	float: left;
	background: url(../img/20.png) -80px -80px;
	/*margin-left: 55px;*/
	margin-top: 10px;
}
.top2_2115{
	width: 646px;
	height: 80px;
	float: left;
	font-family: "Microsoft Yahei";
	font-size: 12px;
	color: #9a9a9a;
	margin-left: 12px;
	margin-top: 10px;
	line-height: 21px;
}
.top2_2116{
	width: 790px;
	height: 17px;
	float: left;
	/*border: 1px red solid;*/
	margin-top: 6px;

}
.top2_2116 i{
	width: 16px;
	height: 16px;
	float: left;
	background: url(../img/20.png) -80px -105px;
	margin-left: 648px;
	margin-top: 3px;
}
.top2_22{
	width: 368px;
	height: 226px;
	float: left;
	background: url(../img/47.jpg);
}

.top2_3{
	width: 1158px;
	height: 225px;
	float: left;
	/*border: 1px red solid;*/
	margin-left: 44px;
	margin-top: 70px;
}
.top2_31{
	width: 366px;
	height: 225px;
	float: left;
	background: url(../img/49.jpg);
}
.top2_32{
	width: 790px;
	height: 225px;
	float: left;
	background: #f9f9f9;
}
.top2_321{
	width: 255px;
	height: 22px;
	float: left;
	margin-left: 465px;
	margin-top: 22px;
	color: #464646;
	font-family: "Microsoft Yahei";
	font-size: 12px;
}
.top2_3212{
	width: 4px;
	height: 22px;
	float: left;
	background: #c3060d;
	margin-top: -26px;
	margin-left: 608px;
}
.top2_3213{
	width: 91px;
	height: 26px;
	float: left;
	color: #484649;
	font-family: "Microsoft Yahei";
	font-size: 20px;
	margin-left: 622px;
	margin-top: -28px;
}
.top2_3214{
	width: 790px;
	height: 17px;
	float: left;
	/*border: 1px red solid;*/
	margin-top: 6px;
}
.top2_3214 i{
	width: 16px;
	height: 16px;
	float: left;
	background: url(../img/20.png) -80px -80px;
	margin-left: 55px;
}
.top2_3215{
	width: 646px;
	height: 80px;
	float: left;
	font-family: "Microsoft Yahei";
	font-size: 12px;
	color: #9a9a9a;
	margin-left: 72px;
	line-height: 22px;
}
.top2_3216{
	width: 790px;
	height: 17px;
	float: left;
	/*border: 1px red solid;*/
	margin-top: -12px;

}
.top2_3216 i{
	width: 16px;
	height: 16px;
	float: left;
	background: url(../img/20.png) -80px -105px;
	margin-left: 716px;
	margin-top: -18px;
}

.top2_52{
	width: 368px;
	height: 226px;
	float: left;
	background: url(../img/50.jpg);
}




























































.top8_14{
	width: 100%;
	height:1px;
	background: #dad7d7;
	float: left;
	margin-top: 35px;

}
.foot{
	width: 1190px;
	height: 80px;
	float: left;
	margin:0 auto;
	/*border: 1px red solid;*/
	/*margin-left: 184px;*/
	margin-top: 35px;
	margin-left: 190px;
}
.foot1{
	width: 200px;
	height: 50px;
	float: left;
	background: url(../img/1.png) 0 0;
	margin-top: 8px;
	margin-right: 40px;
}
.foot2{
	width: 3px;
	height: 56px;
	background: #c2191f;
	float: left;
	margin-top: 6px;
}
.foot3{
	width: 320px;
	height: 70px;
	float: left;
	margin-top: 10px;
	/*border: 1px red solid;*/
}.foot4{
	width: 536px;
	height: 70px;
	float: left;
	/*border: 1px red solid;*/
}
.foot ul{
     color: #818182;
     list-style: none;
	/*word-spacing: 1px;*/
	font-size: 16px;
	font-family: "Microsoft Yahei";
}
.f1{
	word-spacing:5px;
	text-indent: 204px;
}
.f2{
	text-indent: 112px;
}
.foot5{
	width: 68px;
	height: 68px;
	background: url(../img/17.jpg) no-repeat;
	float: left;
	
	margin-left: 15px;
}